<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user_zf.scandroid">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.HandlerActivity" />
        <activity android:name=".activity.AsyncTaskActivity" />
        <activity android:name=".activity.LifecycleActivity" />
        <activity
            android:name=".activity.IntentAttrActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="zfisll" />

                <category android:name="gaga" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="abc/xyz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntentAttrActivity1"
            android:exported="true">
            <intent-filter>
                <action android:name="zfisll" />

                <category android:name="gaga" />
                <category android:name="haha" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="abc/xyz" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntentAttrActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentTest" />
        <activity android:name=".activity.XmlParseActivity"/>
        <activity android:name=".activity.AttrubiteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>